.container {
  height: 100vh;
}

.form {
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 192px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 64px;
  gap: 12px;
  max-width: 100%;
  bottom: 96px;
}

@media screen and (max-width: 1900px) {
  .card-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    justify-items: center;
    align-items: center;
    max-width: 1000px;
  }
}

@media screen and (max-width: 700px) {
  .card-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    justify-items: center;
    align-items: center;
    max-width: 1000px;
  }
}
